
<section>

  <div class="container">

    {{#each lendbooks}}
    <div class="dashfig ">
      <div class="icondiv">
        <div><i class="fas fa-book-open" style="font-size:60px;color:#00BCD4;margin:35px 70px"></i></div>
      </div>
      <div class='figcaption two'><span class='text'>{{this.count}}<br>lent books</span></div>
    </div>
    {{/each}}
    {{#each members}}
    <div class="dashfig ">
      <div class="icondiv">
        <div><i class="fas fa-users" style="font-size:60px;color:#4CAF50;margin:30px 70px"></i></div>
      </div>
      <div class='figcaption three'><span class='text'>{{this.count}}<br>GSG members</span></div>
    </div>
    {{/each}}

    {{#each booksnumbers}}
      <div class="dashfig ">
        <div class="icondiv">
          <div><i class="fas fa-book fa-fw" style="font-size:60px;color:#F44336;margin:30px 70px"></i></div>
        </div>
        <div class='figcaption one'><span class='text'>{{this.count}}<br>Total books </span></div>
      </div>
    {{/each}}



    {{#each lendingmembers}}
      <div class="dashfig">
        <div class="icondiv">
          <div><i class="fas fa-user-friends" style="font-size:60px;color:#FFA000;margin:30px 70px"></i></div>
        </div>
        <div class='figcaption four'><span class='text'>{{this.count}}<br>lending</span></div>
      </div>
    {{/each}}

  </div>
</section>


<div class="table">

<table>
  <tr>
    <th>Member Name</th>
    <th>Book name</th>
    <th>left days</th>
  </tr>
  {{#each result}}
  <tr>
    <th>{{this.full_name}}</th>
    <th>{{this.book_name}}</th>
    <th>{{ leftdays this.end_date }}</th>
  </tr>
  {{/each}}

</table>
</div>
<script src="/js/index.js" charset="utf-8"></script>
<script src="/js/sendEmail.js" charset="utf-8"></script>
