
<div id="searchDiv">
  <form action="" autocomplete="on">
  <input id="search" name="search" type="text" placeholder="search.."><input id="search_submit" value="Rechercher" type="submit">
  </form>
</div>



<div id="contanier" class="divTable paleBlueRows">
<div class="divTableHeading">
<div class="divTableRow">
<div class="divTableHead">No.</div>
<div class="divTableHead">Book Name</div>
<div class="divTableHead">Auther</div>
<div class="divTableHead">Book Type</div>
<div class="divTableHead">lend</div>
<div class="divTableHead">Action</div>
</div>
</div>
<div class="divTableBody">
  {{#each booksData}}
<div class="divTableRow">
<div class="divTableCell">{{this.id}}</div>
<div class="divTableCell">{{this.book_name}}</div>
<div class="divTableCell">{{this.author}}</div>
<div class="divTableCell">{{this.name}}</div>
<div class="divTableCell">
  {{#if book_id}}
  <i class="far fa-check-circle" style="font-size:20px;color:green;margin:5px"></i>
  {{/if}}
</div>
<div class="divTableCell">
  <div class="action">
    <div id='action' class="edit">
      <a href="/edit"><i class="fas fa-pencil-alt" id='favicon' style="font-size:20px;color:blue;margin:5px"></i></a>
    </div>

  <div class="divDelete">
<button type="button" name="button" class='deleteBtn'><i class="fas fa-trash-alt" style="font-size:20px;color:red;margin:5px"></i></button>
</div>
  <div id="myModal" class="modal">
    <div class="modal-content">

      <span class="deletClose">&times;</span>
     <h5>Are you sure you want to delete this book??</h5>
      <div class="buttons">

      <a href="/delete/{{this.id}}">
        <button class='delete button'type="submit" name="button">DELETE</button>
      </a>

      <button class='cancel button' type="submit" name="button">CANCEL</button>
    </div>

    </div>
  </div>
</div>
 </div>
</div>
{{/each}}
</div>

</div>
<!-- <button class="trigger" ></button> -->
    <div class="modals">
        <div class="modals-content">
          <span class="closes-button">&times;</span>
            <h2>Are you sure you want to delete this book??</h2>

            <div class="buttons">


              <button class='deletebookbtn button'type="submit" name="button">DELETE</button>


            <button class='cancel button' type="submit" name="button">CANCEL</button>
          </div>
        </div>
    </div>



<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="/js/GSG.js" charset="utf-8"></script>
