{{#each result}}
<div>{{this.full_name}}</div> 
<div>{{this.book_name}}</div>

<div>{{this.start_date}}</div>

<div>{{this.end_date}}</div>


<button value={{this.id}} class="buttonBook">back</button>
{{/each}} 


