<div class="main" style="width:80%">
<table   id="customers">

  <tr>
    <th>Member</th>
    <th>The Name Of Book</th>
    <th>Start Date</th>
    <th>End Date</th>
    <th>No.mobile</th>
    <th></th>
  </tr>
  {{#each result}}
  <tr>
    <td>{{this.full_name}}</td>
    <td>{{this.book_name}}</td>

    <td>{{split this.start_date}}</td>
    <td>{{split this.end_date}}</td>
    <td>{{this.mobile}}</td>
    <td>
<button value={{this.id}} class="buttonBook">back</button>
</td>
  </tr>
 {{/each}}
  </table>
  </div>
